.kivalaszt{
   
    margin-top: 2rem;
    margin-left: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Teljes box s */
    transition: box-shadow 0.3s ease; /* Átmenet a hover állapothoz */
    flex: 1 1 300px; 
    max-height: fit-content; 
    max-width: 300px; 
    
}